<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />                
            </files>
        </defaultDocument>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <!--<add name="Access-Control-Allow-Credentials" value="true" />-->
                <add name="Access-Control-Allow-Methods" value="GET,HEAD,OPTIONS,POST,PUT" />
                <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept, Authorization" />
            </customHeaders>
        </httpProtocol>
        <rewrite>
            <rules>
                <rule name="RedirectConfigToRoot" stopProcessing="true">
                    <match url="^config/(.*)$" ignoreCase="false" />
                    <action type="Redirect" redirectType="Permanent" url="{R:1}" />
                </rule>
                <rule name="RedirectNuxtSrcToRoot" stopProcessing="true">
                    <match url="^nuxt-finance-viewer/(.*)$" ignoreCase="false" />
                    <action type="Redirect" redirectType="Permanent" url="{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
