@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200);

@import '../node_modules/bootstrap/dist/css/bootstrap.css';

body {
  /* Start shared code from: http://codepen.io/vubon/pen/bdmvbY */
  background: #50a3a2;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  background-attachment: fixed;
  overflow: hidden;
  /* End shared code*/
}

.fade-enter-active,
.fadeEnterActive,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fadeEnter,
.fade-leave-to {
  opacity: 0;
}

.fill-height {
  height: 100%;
}

.transparentModal {
  background-color: #ffffff45 !important;
}

.btn-secondary,
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #6c757d8c;
}

input,
.custom-checkbox .custom-control-label::before {
  background-color: #ffffff73;
}
